PORT = 3000

CLOUDINARY_NAME = YOUR_CLOUDINARY_NAME

CLOUDINARY_API_KEY = YOUR_API_KEY

CLOUDINARY_API_SECRET = YOUR_API_SECRET

COOKIE_SECRET = abcd

GOOGLE_CLIENT_ID = YOUR_CLIENT_ID

GOOGLE_CLIENT_SECRET = YOUR_SECRET

JWT_SECRET = abcd

MONGO_URI = mongodb://127.0.0.1:27017/chess

SESSION_SECRET = abcd

SALT = 10

REDIRECT_LOGIN_URL = http://localhost:5173/login

REDIRECT_URL = http://localhost:5173/

ALL_LEADERBOARD_KEY = all_leaderboard

DAILY_LEADERBOARD_KEY = daily_leaderboard

SESSION_STORE_PREFIX = ChatAppStore:

SESSION_SAVE_TIME = 2592000000

DAILY_RANK_KEY = daily_rank
